/* || STYLE GENERAL */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.App {
  text-align: center;
  --main-color: #A29F98;
  --secondary-color: #0B1D51;
  --tertiary-color: #36393B;
  --fourth-color: #AFD5AA;
  --background-color: #F2F4FF;
  --footer-color: #0B0A07;
  --unimportant-text-color-white-background: #6f7780;
  --unimportant-text-color-grey-background: #6f7780;
}

a {
  text-decoration: none;
  color: var(--tertiary-color);
}

a:hover {
  text-decoration: none;
  color: var(--tertiary-color);
}

body {
  font-family: 'Source Sans Pro', 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  padding: 2em;
  height: 100%;
  width: 100%;
  background-color: #F2F4FF;
  overflow-y: scroll;
  box-sizing: border-box;

}

img {
  width: 100%;
}

button {
  font-size: .9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: .3rem 1rem;
  margin-left: .5rem;
}

html {
  height: 100%;
  width: 100%;
}


ul {
  list-style: none;
}


/* || CLASSE UTILITAIRES */

.bold {
  font-weight: 700;
}

.conteneur {
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 5vh;
  justify-items: center;
  align-content: start;
}

.goldenHover:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  right: 50%;
  bottom: -5px;
  background: var(--main-color);
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.goldenHover:hover:before,
.goldenHover:focus:before,
.goldenHover:active:before {
  left: 0;
  right: 0;
}

.goldenText {
  color: var(--tertiary-color);

}

.goldenText:hover {
  color: var(--fourth-color);
}

.greyBackground {
  background-color: var(--secondary-color);
  min-height: 100%;
  width: calc(100% + 6em);
  position: absolute;
  margin: 0 -3em;
  left: 0;
  top: 0;
  z-index: -1;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.grid2 {
  width: 100%;
  grid-template-columns: repeat(2, minmax(14rem, 1fr));
}

#grid2 {
  margin-top: 5vw;
  grid-row-gap: 5vw;
}

#grid2 h2 {
  color: var(--secondary-color);
  font-size: 5vw;

}

#grid2 p {
  text-align: left;
}

.grid3 {
  width: 100%;
  grid-template-columns: repeat(3, minmax(14rem, 1fr));
}

.grid4 {
  width: 100%;
  grid-template-columns: minmax(14rem, 1fr) repeat(auto-fit, minmax(5rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(14rem, 1fr));
}

.gridRight {
  justify-items: right;
}

.gridCenter {
  justify-items: center;
}

.gridLeft {
  justify-items: left;
}

.hide {
  visibility: hidden;
}

.optionIcone {
  font-size: 26vh;
}

.majuscule {
  text-transform: uppercase;
}

.offset {
  height: 0;
}

.offsetSticky {
  height: 15em;
}

.sticky {
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0;
  width: 100%;
  /*grid-template-areas: "logo menu menu menu searchBar";*/
  align-content: center;
  width: 100%;
  height: 10vh;
  box-shadow: 0 2px 15px #999;
  background-color: var(--background-color);

}

.styleSVG {
  display: inline-flex;
  background-color: var(--main-color);
  color: white;
}

.titreSection {
  font-weight: 400;
  font-size: 1.625rem;
  line-height: 1.875rem;
  text-align: left;
}

.titreSection:after {
  content: "";
  width: 50px;
  height: 12px;
  display: block;
  background-color: var(--fourth-color);
  position: relative;
  margin-bottom: 13px;

}


/* || TOUT LE SITE */

header {
  margin-bottom: 2em;
}

.header {
  /*  background: var(--background-color);
   width: 100%;
   display: grid;
  grid-template-columns: repeat(4, minmax(14rem, 1fr)) minmax(4rem, 8rem);


  grid-template-rows: auto minmax(0, 1fr);
  align-content: center;
  grid-template-areas: "logo logo . searchBar searchBar" ". menu menu menu menu";
*/
  grid-template-areas: "menu logo . ";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(3px, 1fr);
  justify-items: center;

}

.header > div {
  padding: 0;
}

.headerGridNonSticky {

}

.headerSearchSubmit {
  display: none;
}

.headerSearchSubmitWrapper {
  color: var(--secondary-color);
}

.headerSideMenu {
  height: 100vh;
  align-content: baseline;
  grid-row-gap: 10%;
  margin: 5%;
}


header hr {
  height: 6px;
  width: 99.7%;
  background-color: var(--secondary-color);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

input[type="text"] {
  background-color: #E8E9EB;
  border: none;
  padding: 1%;
  border-radius: 4px;
  width: 100%;
}

.logo {
  width: 100%;
  min-width: 15rem;
}

.logo_container {
  grid-area: logo;
}

.menu {
  font-family: 'Lato';
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 3vh;
  color: var(--tertiary-color);
}

#menuBig {

}

.menu_disposition {
  grid-area: menu;
  align-content: center;
  align-self: center;
  justify-self: center;
  border-radius: 30%;
}

.menu_disposition > svg {
  font-size: x-large;
  padding: 0.5em;
}

.menu_disposition:hover {
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  outline: 0;
}

.modal {
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  align-self: start;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
}

.whiteText {
  color: white;
}


/* || ELEMENTS SPECIFIQUES */


#accueil {
  width: 100%;
}

.accueilOutils {
  margin-top: 3vh;
  margin-bottom: 3vh;
  grid-row-gap: 4em;
}

.accueilOutilsWrapper {
  position: relative;
  width: 100%;
}

.accueilOutilsSubWrapper {
  padding-top: 2em;
  z-index: 4;
}

.accueilText {
  height: auto;
}


.accueilText > p {
  font-size: small;
  width: 100%;
}

.accueilText > h2 {
  color: var(--secondary-color);
}

.accueilPhoto {
  justify-self: center;
  /* grid-area: photo;*/
  width: 45%;
  height: auto;
}

#mapBackground {
  z-index: 1;
  user-select: none
}

#testMap {
  margin-top: 5vw;
  border: solid 5px var(--secondary-color);
  width: fit-content;
  position: relative;

}

#photoAccueil {
  width: 100%;
}

#annuaire {
  /*grid-area: annuaire;
*/
}

#annuaireBackground {
  padding: 0 4vw 2vw;
  display: grid;
  grid-template-rows: repeat(2, minmax(5%, 100%));
  grid-row-gap: 2em;
}

.arrowIcon {
  display: inline-flex;
  border-radius: 50%;
  padding: 3px;
  background-color: var(--main-color);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 4%;
  top: 999px;
  opacity: 0;
  height: fit-content;
  width: fit-content;
  transition: all 0.2s ease-in 0s;
}

.bouton {
  width: fit-content;
  padding: 1em;
  height: fit-content;
  transition: .4s;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2)
}

.bouton:hover {
  cursor: pointer;
}
.boutonActionPrincipal {

  background-color: var(--secondary-color);
  color: white;
  padding: 1em;
  border: none;
}

.boutonActionSecondaire {
  color: var(--secondary-color);
  background-color: var(--background-color);
  padding: 1em;
  border: solid 1px var(--secondary-color);
}
.carte h4 {
  font-weight: 400;
  font-size: 124%;
}

#contact {
  /* grid-template-columns: 1fr 1fr 1fr 40px;
  */
  justify-items: center;
  grid-row-gap: 3vh;
  /* grid-template-areas: "form form annuaire ." "carte carte carte .";
 */
}

.contact_Map {
  /*grid-area: carte;
*/
}

.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  /* color: #fff;*/
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding: 20px 0px;
  width: 150px;
  border-radius: 6px;
  overflow: hidden;
}

.effect.effect-1 {
  transition: all 0.2s linear 0s;
}

.effect.effect-1:hover {
  text-indent: -25px;

}

.effect.effect-1:hover .arrowIcon {
  opacity: 1;
  text-indent: 0px;
  top: 18px
}

.effect.effect-1:hover:before {
  opacity: 1;
  text-indent: 0px;
}

.fillScreen {
  width: 100%;
}

#formulaire {
  padding: 5vw 1vw;
  display: grid;
  grid-template-columns: 1fr;

  row-gap: 3vw;
  /* grid-area: form;
 */
}

#formulaire input {
  width: 60%;
}

#formButton {
  justify-self: center;
}

footer {
  margin-top: 8vh;
  padding: 20px 0;
  border-top: 1px solid var(--footer-color);
  width: 100%;
  text-align: left;
  justify-items: center;
  align-items: start;
}

footer h4, footer h6 {
  text-align: center;
}

footer a:hover {
  color: var(--fourth-color)
}

.footerLogo {
  width: 100%;
  min-width: 10rem;
}

#footerLogoContact {
  text-align: center;
}

.glpiLogin {
  width: 50%

}
input:focus,
textarea:focus {
  outline: 0;
  border-color: var(--tertiary-color);
}

#listeOutils {
  width: 100%;
  padding-top: 2em;
}

.outil {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  height: 15em;
  width: 15em;
  justify-items: center;
  align-content: center;
  background: #333;
  padding: 1em 1em 0 1em;
  border-radius: 4px;
  transition: 0.3s;

}

.outilDescription {
  max-height: 50%;
}

.outilIcone {
  color: white;
  font-size: 6vw;
}

.outilImageContainer {

  min-width: 1rem;
  justify-content: center;
  margin-top: 3vw;
}

.outil:hover {
  background: var(--main-color);
}

.outilImage {
  width: 100%;
}

.outilImageTitre {
  width: 100%;
  height: 100%;
  /*  transform: translateY(50%);*/
  position: relative;
  display: grid;
  justify-items: center;
  transition: 0.5s;
}

.outilPresentation {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vw;
  text-align: left;
}

.outilPresentation li {
  position: relative;
  padding-left: 2em;
}


.outilPresentation li::before {
  content: '';
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  position: absolute;

}

.outilPresentationTitre {
  color: var(--secondary-color);

  /*font-size: 3vw;
*/
}

.photoText {
  margin: 8vh 0;
  display: grid;
  width: 100%;
  grid-template-columns: minmax(3em, 30em);
  grid-template-rows: min-content 1fr;
  justify-content: center;
  /*  grid-template-areas: "photo photo . text text text";
  */
}

.projets {
  margin-top: 2em;
  grid-column-gap: 1rem;

}

.searchbar_container {
  margin: auto;
  display: grid;
  width: 100%;
  grid-template-columns: auto auto;
  align-content: center;
  justify-content: center;
  /* grid-area: searchBar;*/
}

.searchResult {
  text-align: left;
}

.sideMenu > * {
  height: fit-content;
}


.twoOptions {
  margin-top: 2em;
  align-items: start;
}

.twoOptions div {
  padding: 1em;
  color: black;
}

.twoOptions div:hover {
  background-color: var(--tertiary-color);
  border-radius: 4px;
  color: white;
}

.twoOptions h3 {
  font-size: 4vh;
}


/*320, 480, 640, 768, 992, 1100, and 1200px*/

@media (min-width: 480px) {

}

@media (min-width: 640px) {

}

@media (min-width: 768px) {

  .header {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
    grid-template-areas: "logo menu searchBar"
  }

  .headerGridNonSticky {
    grid-template-columns: 2fr 15em 1fr;
    grid-template-areas: "logo . searchBar" "menu menu .";
  }

  .logo {
    width: 40%;
  }

  .searchbar_container {
    /*grid-area: searchBar;*/
  }

  .sticky {
    transition: 0.5s;

  }

  .stickyText {
    grid-template-columns: repeat(3, minmax(8rem, 1fr));
    font-size: 10px;
  }

  .menu {
    font-size: 1.14em;
  }

  #menuBig {
    margin: 1em;
    display: grid;
    align-items: center;
    grid-column-gap: 19px;
  }

  .optionIcone {
    font-size: 20vw;
  }

  .twoOptions h3 {
    font-size: 4vw;
  }

  div .thumbnail {
    height: 30vh;
    width: 45vw;
  }
}

@media (min-width: 992px) {
  div .thumbnail {
    height: 30vw;
    width: 30vw;
  }

  .photoText {
    grid-template-columns: repeat(auto-fit, minmax(3em, 50%));
  }
}

@media (min-width: 1100px) {

}

@media (min-width: 1200px) {
  #contact {
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    justify-items: center;
    align-items: center;

  }

  #grid2 {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .headerGridNonSticky {
    grid-template-columns: minmax(10em, 100%) 1fr 1fr;
    grid-template-areas: "logo . searchBar" "menu menu .";
  }

  .logo {
    width: 70%;
  }

  .optionIcone {
    font-size: 15vw;
  }

  .searchPageSearchBar {
    width: 75%;
  }

  div .searchPageSearchBarInput {
    width: 80em;
  }

  .sticky {
    height: 18%;
  }

  .twoOptions {
    grid-template-columns: auto auto;
  }
}
